* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
	background-color: rgb(240,240,240);
}
@font-face{
	font-family: ProximaNova-Semibold;
	src: url('../Typeface/ProximaNova-Semibold.ttf');
}
@font-face{
	font-family: ProximaNova-Regular;
	src: url('../Typeface/ProximaNova-Regular.ttf');
}
#heZi{
	position: relative;
}
/*<!-- ————————————————————————页眉—————————————————————————— -->*/
header{
	position: absolute;
	left: 0px;
	width: 100px;
	min-height: 1020px;
	background-color: rgb(29,37,49);
}
.tubiao1 img{
	margin: 30px 0px 0px 15px;
}
.tubiao2{
	position: absolute;
	bottom: 15px;
}
.tubiao2 img{
	margin: 0px 0px 0px 18px;
}
/*<!-- ————————————————————————菜单栏—————————————————————————— -->*/
aside{
	position: absolute;
	left: 100px;
	width: 250px;
	min-height: 1020px;
	background-color: rgb(34,44,60);
	font-family: ProximaNova-Semibold;
}
aside section{
	margin: 40px 25px 40px 25px;
}
aside section p{
	margin-top: 20px;
}
aside section p:first-of-type{
	color: rgb(91,103,121);
}
aside section .qingchuFD{
	float: none;
	margin-right: 10px;
}
aside section img{
	float: right;
}
aside section a{
	color: rgb(183,192,205);
	text-decoration: none;
}
aside section a:hover{
	color: rgb(35,153,241);
	cursor: pointer;
}
aside img[src*="Server_Capacity"]{
	position: absolute;
	bottom: 15px;
	left: 25px;
}
aside img[src*="Divider"]{
	margin-left: 25px;
}
/*<!-- ————————————————————————文章—————————————————————————— -->*/
#heZi .wenZhang{
	position: relative;
	margin-left: 350px;
	min-width: 1230px;
	min-height: 1020px;
}
/*<!-- ——————————————————用户栏——————————————————— -->*/
.yonghulan{
	position: relative;
	width: 1553px;
	height: 80px;
	background-color: rgb(255,255,255);
	font-family: ProximaNova-Semibold;
}
.yonghulan h1{
	position: absolute;
	top: 20px;
	left: 30px;
	color: rgb(53,64,82);
}
.YHxinxi{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 250px;
}
.YHxinxi .YHUserName{
	position: absolute;
	left: 70px;
	top: 15px;
}
.YHxinxi .YHUserName a{
	text-decoration: none;
}
.YHxinxi .YHUserName p{
	color: rgb(186,186,186);
	margin-top: 5px;
}
.YHxinxi .YHUserName a p:hover{
	color: rgb(35,153,241);
	cursor: pointer;
}
.YHxinxi img[src*="Photo"]{
	float: left;
	margin-top: 15px; 
}
.YHxinxi img[src*="dropdown"]{
	float: right;
	margin: 40px 30px;
}
/*<!-- ——————————————————动态栏——————————————————— -->*/
.DongTai{
	position: relative;
	width: 400px;
	height: 940px;
	background-color: rgb(255,255,255);
	border-right: 1px solid rgb(230,230,230);
}
.DongTai .SoSuo{
	position: relative;
	height: 70px;
	border-bottom: 1px solid rgb(230,230,230);
}
.DongTai form input[name*="sosuo"]{
	margin: 18px 30px;
	width: 340px;
	height: 36px;
	border: 1px solid rgb(230,230,230);
	border-radius: 5px;
}
.DongTai form input::placeholder{
	font-family: ProximaNova-Semibold;
	position: relative;
	left: 10px;
	color: rgb(180,180,200);
}
.DongTai form input[name*="SSAnNio"]{
	position: absolute;
	top: 28px;
	left: 340px;
}
.DTNRhezi{
	width: 400px;
	height: 870px;
	overflow: scroll;
}
.DTNRhezi::-webkit-scrollbar {
 	display: none;
}
.DongTai .DTNeiRon{
	width: 400px;
	padding: 20px;
	border-bottom: 1px solid rgb(230,230,230);
}
.DTxinxi{
	width: 360px;
	height: 70px;
}
.DTxinxi .DTUserName{
	font-family: ProximaNova-Semibold;
	float: left;
	margin-left: 20px;
}
.DTxinxi .DTUserName a{
	text-decoration: none;
}
.DTxinxi .DTUserName p{
	color: rgb(186,186,186);
	margin-top: 5px;
}
.DTxinxi .DTUserName a p{
	color: rgb(90,90,100);
}
.DTxinxi .DTUserName a p:hover{
	color: rgb(35,153,241);
	cursor: pointer;
}
.DTxinxi img{
	float: left;
}
.DTxinxi .JueLi{
	color: rgb(90,90,100);
	float: right;
	margin-right: 20px;
}
.DongTai .DTJianLue{
	color: rgb(90,90,100);
	font-family: ProximaNova-Regular;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*<!-- ——————————————————内容栏——————————————————— -->*/
.NeiRong{
	position: absolute;
	left: 400px;
	top: 80px;
	min-width: 1153px;
	min-height: 940px;
	background-color: rgb(255,255,255);
}
.NeiRong .NRgongneng{
	position: relative;
	height: 70px;
	border-bottom: 1px solid rgb(230,230,230);
}
.NRgongneng h2{
	position: absolute;
	top: 20px;
	left: 30px;
	color: rgb(90,90,100);
}
.NRgongneng img{
	margin: 35px 190px;
}
.NRgongneng .NRright{
	position: absolute;
	right: 30px;
	top: 0px;
	width: 284px;
	height: 32px;
}
.NRright .NRanniou1{
	margin-top: 20px;
	float: left;
	width: 109px;
	height: 36px;
}
.NRright .NRanniou2{
	position: absolute;
	top: 20px;
	right: 0px;
	width: 73px;
	height: 36px;
}
.NRright p{
	margin-top: 25px;
	margin-left: 139px;
}
.NRNeiRong{
	width: 1153px;
	height: 870px;
	overflow: scroll;
}
.NRNeiRong::-webkit-scrollbar {
 	display: none;
}
.NRhezi{
	border-bottom: 1px solid rgb(230,230,230);
	padding: 30px;
}
.NRhezi .NRHZwenben{
	margin-bottom: 30px;
}
.NRhezi .NRHZwenben img:first-of-type{
	float: left;
}
.NRHZwenben .NRfenduan{
	margin-left: 80px;
	width: 1000px;
}
.NRHZwenben .NRfenduan h4{
	font-family: ProximaNova-Semibold;
	color: rgb(90,90,100);
}
.NRHZwenben .NRfenduan h4 span{
	color: rgb(140,150,170);
	font-size: 0.4cm;
}
.NRHZwenben .NRfenduan p{
	color: rgb(90,90,100);
	font-family: ProximaNova-Regular;
	margin-top: 10px;
}
.NRHZwenben .NRfenduan img{
	margin: 10px 10px 10px 0px;
}